{% extends 'base.html.twig' %}



{% block body %}
    <h1 class="mb-3">Création d'un nouveau Voyage</h1>
    <hr>
    {{ include('voyage/_form.html.twig') }}
    <hr>

    <a href="{{ path('voyage_index') }}">Retour à la liste</a>
{% endblock %}
